@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background: radial-gradient(circle, #020617, #000);
  height: 100vh;
  display: grid;
  place-items: center;
}

.scene {
  transform: scale(3);
}

.sprite {
  display: grid;
  image-rendering: pixelated;
}

.px {
  width: 6px;
  height: 6px;
}